<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All in GetHeroesTests.swift.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Dota-info.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Dota_infoTests.testExample.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Dota_infoTests.testWhenValidDataShouldReturnSuccess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GetHeroesTests.testWhenCorruptedJsonDataShouldReturnError.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GetHeroesTests.testWhenEmptyDataShouldReturnSuccessWithEmptyList.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>GetHeroesTests.testWhenValidDataShouldReturnSuccess.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GetHeroesTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
